/** choose  section **/

.choose {
  margin-top: 90px;
  background-color: #242323;
  padding: 90px 0 190px 0;
  position: relative;
}

.choose::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 195px;
  background-repeat: no-repeat;
  display: block;
  background-position: center center;
}

.choose .titlepage {
  text-align: left;
  padding-bottom: 0;
}

.choose .titlepage h2 {
  color: #fff;
}

.choose .titlepage p {
  color: #fff;
  display: block;
  font-size: 17px;
  padding-top: 20px;
  line-height: 32px;
}

.choose_img {
  background-color: #fff;
  padding: 20px;
  margin-left: 30px;
  margin-right: 40px;
}

.choose_img figure {
  margin: 0;
  margin-left: -50px;
}

.choose_img figure img {
  width: 100%;
}

.padding_with {
  max-width: 653px;
  float: right;
  width: 100%;
}

.choose_box {
  display: flex;
  margin-right:20%;

}

.choose_box > i {
  float: left;
  margin-right:05%;
}

.choose_box i img {
  float: left;
  background-color:#17a2b8;
  width: 80px;
  padding: 10px;
  border-radius: 60px;
}

.choose_text {
  float: right;
  padding-left: 0px;

}

.choose_text h3 {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  padding-bottom: 10px;
}

.choose_text p {
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}

.padding_bottom {
  padding-bottom: 30px;
}


/** end choose  section **/

