<!-- banner -->
<div class="banner_main">
  <div class="container-main">
     <div class="row">
        <div class="col-md-12 ">
           <div class="text-bg">
              <h1>Hitech Packaging Industries
              </h1>
              <p>Manufacturers of Corrugated Boxes & Custom Made Packaging. Specialist in the production of strong, Heavy Duty Corrugated Cartons & Boxes.</p>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- end banner -->
<!-- three_box -->
<div class="three_box">
  <div class="container">
     <div class="row">
        <div class="col-md-4">
           <div class="box_text">
              <figure><img src="./assets/images/pexels-cottonbro-studio-4568695.jpg" alt="#"/></figure>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <figure><img src="./assets/images/pexels-karolina-grabowska-4498124.jpg" alt="#"/></figure>
           </div>
        </div>
        <div class="col-md-4">
           <div class="box_text">
              <figure><img src="./assets/images/pexels-ksenia-chernaya-5691655.jpg" alt="#"/></figure>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- three_box -->
<!-- hottest -->
<div  class="hottest">
  <div class="container">
     <div class="row d_flex">
        <div class="col-md-5">
           <div class="titlepage">
              <h2>Manufacturers of Corrugated Boxes and Custom made Packaging.

              </h2>
           </div>
        </div>
        <div class="col-md-7">
           <div class="hottest_box">
            <P>We at Kapco Packaging are pioneers and leading manufacturers specializing in the design and production of both coloured and strong heavy duty corrugated boxes and cartons of all sizes. We are supplying to leading top class manufacturers and exporters of repute for the past two decades to their entire satisfaction.

              Whatever your packaging thoughts, we are ready to explore them with you. A cost effective solution that suits your products and gets your products to the market place in the condition that they left the production line. So wherever you want to aim your product we have packaging that will take you there. At Kapco Packaging we pride ourselves in our personalized follow through service. A sales representative will be dedicated to your packaging project from inception through to delivery. When you become our Client, our people work with you to ensure you receive the best packaging solution to meet your needs.</P>
           </div>
        </div>
     </div>
  </div>
</div>


<!-- end hottest -->
